<h2>INVENTÁRIO</h2>
<app-collapse title="INCENSOS NATURAIS" [isOpen]="true">
  <div class="collapse-container">
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
  </div>
</app-collapse>

<app-collapse title="PENTÁCULOS">
   <div class="collapse-container">
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
  </div>
</app-collapse>

<app-collapse title="VELAS RITUALISTICAS">
   <div class="collapse-container">
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
  </div>
</app-collapse>

<app-collapse title="ARS NATURALIS">
   <div class="collapse-container">
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
    <span>Lorem Ipsum</span>
  </div>
</app-collapse>
