:root {
    --primary-color: #393939;
    --primary-color-rgb: 57, 57, 57;
    --secondary-color: #ffffff;
    --secondary-color-rgb: 255, 255, 255;
    --black: #000000;
    --gray: #f0f0f0;
    --light-gray: #e0e0e0;
    --dark-gray: #333333;
}